*.ipynb
__pycache__
.env*

*node_modules*

to-do*
BooksDatabase/Data*
Proxy/ssl/*
WebInterface/static/css*

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.bcf
*.run.xml
*~
*.backup
*.swp
*.swo