<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet" _external=True>
        <!-- <link href="/static/css/output.css" rel="stylesheet"> -->
        <title>Book Explorer</title>
    </head>

    <body>
        <header>
            <h1><a href="/">{{ Title }}</a></h1>
        </header>

        <main>
            {% block main %}{% endblock %} 
        </main>

        <footer>
            <p><a href="https://www.linkedin.com/in/alexis-aguilar-uribe" target="_blank" rel="noopener">Created by Alexis Aguilar</a></p>
            <p><a href="/">Home Page</a></p>
            <p><a href="https://github.com/alexisuaguilaru/BookExplorer" target="_blank" rel="noopener">Project's Source Code</a></p>
        </footer>
    </body>

</html>