{% extends "__Base.html" %}

{% block main %}
    <form method="POST" action="/BookExplorer" class="present-options">
        {{ FormSelections.hidden_tag() }}

        {% for recommended_book in Recommendations %}
        <div class="book-option">
            <h3>{{ recommended_book.title }}</h3>
            <div class="cover-book">
                <img src='{{ recommended_book.image }}'>
            </div>
            <p><b>Authors</b>: {{ recommended_book.author_name }}</p>
            <button class="select-option" type="submit" onclick="document.getElementById('book_isbn').value = '{{ recommended_book.isbn }}'; document.getElementById('bookForm').submit();">
                Select
            </button>
        </div>
        {% endfor %}
    </form>
{% endblock %}