{% extends "__Base.html" %}

{% block main %}
    <form method="POST" action="/BookExplorer">
        {{ FormSelections.hidden_tag() }}

        {% for recommended_book in Recommendations %}
        <div>
            <h3>{{ recommended_book.title }}</h3>
            <p><b>Authors</b>: {{ recommended_book.author_name }}</p>
            <p><b>ISBN</b>: {{ recommended_book.isbn }}</p>
            <button type="submit" onclick="document.getElementById('book_isbn').value = '{{ recommended_book.isbn }}'; document.getElementById('bookForm').submit();">
                Select
            </button>
        </div>
        {% endfor %}
    </form>
{% endblock %}